*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}


body{
    color: rgb(37, 147, 243);
    background-color: currentColor;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.ball{
    
    border-top: 300px solid #ff3b3b;
    border-left: 300px solid #ff3b3b;
    border-bottom: 300px solid #f2f2f2;
    border-right: 300px solid #f2f2f2;
    border-radius: 50%;
    transform: rotate(45deg);
    box-shadow: 30px 5px 10px #e6e8ee50;
}

.ball::before{
    position: absolute;
    content: "";
    width: 600px;
    height: 17px;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.empty{
    position: absolute;
    width: 30px;
    height: 17px;
    background-color: currentColor;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 600px 0px rgb(37, 147, 243);

}

.button{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f2f2f2;
    border: 17px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}